{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}atlas-web{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Atlas Web Interface">
    <meta name="author" content="Miha Cernetic and Timo Halbesma">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="{% static 'vendor/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'vendor/css/cookieconsent.min.css' %}" rel="stylesheet" type="text/css">

    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.min.css' %}" rel="stylesheet" type="text/css">

    {% endblock %}

    {% block topscripts %}
    {% endblock topscripts %}

  </head>

  <body>

    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">atlas-web</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'simulation:input' %}">Simulation Input</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:detail' request.user.pk %}">{% trans "Profile" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}">{% trans "Logout" %}</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a id="sign-up-link" class="nav-link" href="{% url 'users:register' %}">{% trans "Register" %}</a>
              </li>
              <li class="nav-item">
                <a id="log-in-link" class="nav-link" href="{% url 'users:login' %}">{% trans "Login" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    </div>

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="mt-5 alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
      <div class="container">
          <div class="card card-login mx-auto mt-5 mb-3">
              <div class="card-header">{% trans "Welcome!" %}</div>
              <div class="card-body">
                  {% trans "Welcome to the atlas-web interface to submit atlas9 simulations :-)" %}
              </div>
          </div>
      </div>
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

      <!-- Bootstrap JS and its dependencies-->
      <script type="text/javascript" src="{% static 'vendor/js/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>

      <!-- Third-party javascript libraries go here -->
      <script type="text/javascript" src="{% static 'vendor/js/cookieconsent.min.js' %}"></script>
      <script type="text/javascript">
        /* Display the mandatory Cookieconsent for GDPR compliance. */
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#383b75"
            },
            "button": {
              "background": "#f1d600"
            }
          },
          "theme": "classic",
          "position": "bottom-left",
          "type": "opt-in",
          "content": {
            "href": "{% url 'privacy'%}"
          }
        });
      </script>

      <!-- Project specific Javascript -->
      <script type="text/javascript" src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}
  </body>
</html>
