{% url 'users:password_reset' as password_reset %}
{% url 'users:password_reset_confirm' uidb64=uid token=token as password_reset_confirm %}
{% load i18n %}{% blocktrans %}Dear {{ full_name }},

You receive this email because an admin at {{ domain }} sent you a password reset link.
Ignore this email if you do not want to reset your password.

Please use the reset link below within the next 24 hours to reset your password.
{{ protocol }}://{{ domain }}{{ password_reset_confirm }}

The token is set to expire for security reasons. If you receice an error stating
that the token is invalid or has expired, simply request a new password reset email at {{ protocol }}://{{ domain }}{{ password_reset }}

Kind regards,
The atlas-web team
{% endblocktrans %}
