{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ block.super }} | {% trans "Password reset email sent!" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="card card-login mx-auto mt-5 mb-3">
        <div class="card-header">{% trans "Password reset email sent!" %}</div>
        <div class="card-body">
            {% trans "We've emailed instructions for resetting the atlas-web password to" %}
            <strong>{{ request.session.password_reset_email }}</strong>,
            {% blocktrans %}
            if and only if that email address is known in our database.<br>
            <br>
            If the email does not arive within the next few minutes, check your spam folder. If you still cannot find
            the email, please contact us.
            {% endblocktrans %}
        </div>
    </div>
</div>
{% endblock %}
