{% extends "base.html" %}
{% load static i18n %}

{% block content %}
  <div class="container">
    <div class="card card-login mx-auto mt-5 mb-3">
    {% if validlink %}
      <div class="card-header">{% trans "Reset password" %}</div>
      <div class="card-body">

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.errors }}
        </div>
        {% endif %}

        <form method="post" action="">
        {% csrf_token %}
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="{% trans 'Password' %}" required="required">
              <label for="id_new_password1">{% trans "New password" %}</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="{% trans 'Password' %}" required="required">
              <label for="id_new_password2">{% trans "Confirm password" %}</label>
            </div>
          </div>

          <input class="btn btn-primary btn-block" type="submit" value="{% trans "Change my password" %}">
        </form>
      </div>
    </div>
    {% else %}
      <div class="card-header">{% trans "Reset password: invalid link" %}</div>
      <div class="card-body">
         {% url 'users:password_reset' as password_reset_link %}
         {% blocktrans %}
         The password reset link was invalid, possibly because it has already been used.
         Please <a href="{{ password_reset_link }}">request a new password reset.</a> link and try again.
         Our reset tokens should be valid for approximately three days. </p>
         {% endblocktrans %}
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}
