<!DOCTYPE html>
<html>
<head>
  <title>Input 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <style>
  	/*img {
  	width:130%;
	}*/
	
</style>
   <!-- <img src="SolVe_logo.jpg" alt="SolVe_logo">  -->
</head>
<body style= "background-color: #FFF0D1">
	<img src="{{url_for('static', filename='logo2.jpeg')}}" alt="SolVe_logo"> 
	<div class = "container">
		<!-- <div class = "contain"> -->
	<!-- <img src="{{url_for('static', filename='SolVe_logo.jpg')}}" alt="SolVe_logo">  -->
	<!-- <img src="{{url_for('static', filename='logo2.jpeg')}}" alt="SolVe_logo">  -->
<!-- <script src="myScript.js"></script>  -->
<h1>Calculations ODF</h1>
<p>Description <br> ... <br> ... <br> ... <br><br></p>


<form action = "/resodf" method ="POST">

	<div style = "display: none;" id = "predata">
		<input type="number" id="stdtype" name="stdtype" min="0" max="1" value = {{stdtype}} readonly="readonly" required>
		<input type="number" id="abtype" name="abtype" min="0" max="2" value = {{abtype}} readonly="readonly" required>
		<input type="number" id="metallicity" name="mbyh" min="-4" max="2" step="0.01" value = {{mh}} readonly="readonly" required>
	</div>

	{% if stdtype == 1 %}
	<h2> Element Abundancies </h2>
	<p>Change the values which differ from the standard values</p><br>

	<!-- {% for vals in abun%}
	<label for="at2">Helium Abunduncy</label>
	<input type="number" id="at2" name="at2" min="-20" max="1" value = {{vals}} required><br>
	{%endfor%} -->

	

	<h4> Hydrogen and Helium abundancies ratio (N_element/N_total) </h4><br>
	<div class="form-group">
		<label for="at1">Hydrogen Abundancy </label>
		<input type="number" id="at1" name="at1" min="0" max="1" step = "0.00001" value = {{abunlist[0]}} required>
	</div>
	<div class="form-group">
		<label for="at2">Helium Abundancy</label>
		<input type="number" id="at2" name="at2" min="0" max="1" step = "0.00001" value = {{abunlist[1]}} required><br><br>
	</div>

	<h4> Other element concentration log values (log10(N_element/N_total)) </h4><br>
	
	{% for i in range(3, 10) %}
	<div class="form-group">
		<label for="at{{i}}">Atomic number {{i}} : </label>
		<input type="number" id="at{{i}}" name="at{{i}}" min="-20" max="0" step = "0.01" value = {{abunlist[i-1]}} required >
	</div>
	{%endfor%}

	<div style = "display: none;" id="showall">
		{% for i in range(10, 100) %}
		<div class="form-group">
			<label for="at{{i}}">Atomic number {{i}} : </label>
			<input type="number" id="at{{i}}" name="at{{i}}" min="-20" max="0" step = "0.01" value = {{abunlist[i-1]}} required >
		</div>
		{%endfor%}
		 <input type="button" value="Hide All" onclick="shows(0)"> 
	</div>
	<input type="button" id = "btnshow" value="Show All" onclick="shows(1)"> 
	<br><br>
	{%endif%}
	
	<h3>Bin-subbin configuration </h3>
	<!-- <p>We recommend standard sub-bin configuration</p> -->
	<h4>Wavelength grid</h4>
	<label ><input type="radio" id="stdwave" name="waveinp" value="0" onclick=getwave(0) checked=true required> Standard       </label>
	
	<label ><input type="radio" id="userwave" name="waveinp" value="1" onclick=getwave(1)> User-Defined </label><br><br>

	<div id = "wavediv">
		<p> Wavelength Range</p>
		<label> Min : 
		<input type="number" id="wavemin" name="wavemin" min="9" max="10000" step="1" value = "9" required disabled="true"> nm </label><br>
		<label> Max : 
		<input type="number" id="wavemax" name="wavemax" min="9" max="10000" step="1" value = "10000" required disabled="true"> nm </label><br><br>
	</div>

	<h4>Temperature-Pressure Grid</h4>
	<input type="radio" id="stdtemp" name="tempinp" value="0" onclick=gettemp(0) checked=true required>
	<label for="stdtemp">Standard</label>
	<input type="radio" id="usertemp" name="tempinp" value="1" onclick=gettemp(1)>
	<label for="usertemp">User-Defined</label><br><br>

	<div id = "tempdiv">
		<p> T-P grid</p>
		<label> Min Temp: 
		<input type="number" id="tmin" name="tmin" min="1500" max="200000" step="1" required disabled="true"> K </label><br>
		<label> Max Temp: 
		<input type="number" id="tmax" name="tmax" min="1501" max="200000" step="1" required disabled="true"> K </label><br>
		<label> Number of steps in Temp: 
		<input type="number" id="tstep" name="tstep" min="1" max="1000" step="1" required disabled="true"></label><br><br>

		<label> Min Pressure: 
		<input type="number" id="pmin" name="pmin" min="0.0001" max="100000000" step="0.00001" required disabled="true"> bar </label><br>
		<label> Max Pressure: 
		<input type="number" id="pmax" name="pmax" min="0.0001" max="100000000" step="0.00001" required disabled="true"> bar </label><br>
		<label> Number of steps in Pressure: 
		<input type="number" id="pstep" name="pstep" min="1" max="1000" step="1" required disabled="true"></label><br><br>
	</div>
	<!-- <label for="numinp">Atomic number : </label>
	<input type="number" id="numinp" name="numinp" min="1" max="99" step = "1" value = 1 required > -->

	<!-- <p>Standard or non-standard element composition ?</p>
	<input type="radio" id="stdcom" name="cominp" value="0" checked=true required>
	<label for="stdcom">Standard</label><br>
	<input type="radio" id="usercom" name="cominp" value="1" >
	<label for="usercom">User-Defined</label><br><br>

	<p>For standard choose element composition type, for user-defined choose on which it should be based</p>
	<input type="radio" id="Anders" name="comtype" value="1" checked=true required>
	<label for="Anders">Anders</label><br>
	<input type="radio" id="Grevess" name="comtype" value="2">
	<label for="Grevess">Grevess</label><br>
	<input type="radio" id="Asplund" name="comtype" value="3">
	<label for="Asplund">Asplund</label><br><br><br> -->
	
	<input type="submit" value ="Submit" class="btn btn-primary"> 
	<br><br>

</form>
</div>
</body>
<script>
  	// document.getElementById('mydiv').disabled = true;
   //  document.getElementById('mydiv').style.visibility="hidden";	

    function getwave(box) {
    	var s = 'wavediv'
    	if (box == "0"){
	        document.getElementById('wavemin').disabled = true;
	        document.getElementById('wavemax').disabled = true;
	        // document.getElementById(s).style.display="none";
	       }
        else {
	        document.getElementById('wavemin').disabled = false;
	        document.getElementById('wavemax').disabled = false;
        	// document.getElementById(s).style.display = "block";
        }
    }

    function gettemp(box) {
    	var s = 'tempdiv'
    	var stat = true
    	if (box == "0"){
	    	stat = true;
	        // document.getElementById(s).style.display="none";
	       }
        else {
        	stat = false;
        	// document.getElementById(s).style.display = "block";
        }
        document.getElementById('tmin').disabled = stat;
	    document.getElementById('tmax').disabled = stat;
        document.getElementById('pmin').disabled = stat;
	    document.getElementById('pmax').disabled = stat;
        document.getElementById('tstep').disabled = stat;
	    document.getElementById('pstep').disabled = stat;
    }

    function shows(ind) {
        if (ind == "1"){
        	document.getElementById('showall').style.display = "block";
        	document.getElementById('btnshow').style.display="none";
        }
        else{
        	document.getElementById('btnshow').style.display = "block";
        	document.getElementById('showall').style.display="none";
        }
    }
  </script>
</html>