{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ block.super }} | {% trans "Simulation Input" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="card card-login mx-auto mt-5 mb-3">
        <div class="card-header">{% trans "Simulation Input Form" %}</div>
        <div class="card-body">

            <div class="mt-5">
              <form method="post" novalidate>{% csrf_token %}
                {% comment %}
                TODO @Miha, use your Browser's developer tools / inspect source code to see
                the magic that Django does under the hood to transform this {{ form }}
                to the DOM elements input, label, select, button, etc in the html!
                    See e.g. https://docs.djangoproject.com/en/3.1/topics/forms/#working-with-form-templates
                {% endcomment %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
              </form>
            </div>
        </div>
    </div>

    {% if atlas9_punched_input %}
    <div class="card card-login mx-auto mt-5 mb-3">
        <div class="card-header">{% trans "atlas9.punched.input" %}</div>
        <div class="card-body">
            {{ atlas9_punched_input|linebreaks }}
        </div>
    </div>
    {% endif %}

    {% if atlas9_in_odf %}
    <div class="card card-login mx-auto mt-5 mb-3">
        <div class="card-header">{% trans "atlas9.inODF" %}</div>
        <div class="card-body">
            {{ atlas9_in_odf|linebreaks }}
        </div>
    </div>
    {% endif %}

    {% if atlas9_control %}
    <div class="card card-login mx-auto mt-5 mb-3">
        <div class="card-header">{% trans "atlas9.control" %}</div>
        <div class="card-body">
            {{ atlas9_control|linebreaks }}
        </div>
    </div>
    {% endif %}

</div> {# container #}


{% endblock content %}

{% comment %}
Here we extend the block javascript that's defined in atlas_web/templates/base.html
We first call {{ block.super }} to also load all javascript that sits there.
Then below that we can implement additional in-line javascript, or import from
a new javascript file.
{% endcomment %}
{% block javascript %} {{ block.super }}

{% comment %}
This is an example of inline javascript. I just want to point you to the console
where you can print things to during development. Note that this $ is jQuery, a
javascript library with many things that'll make your life easier.
{% endcomment %}
<script type="text/javascript">
$(document).ready(function() {
    // Open the developer tools in your browser, go to console, and notice that
    // javascript output is logged there!
    // See e.g. https://learn.jquery.com/using-jquery-core/document-ready/ for
    // an explanation of this business of $(document).ready
    console.log("Hello, Miha! This javacript is executed on your input form when the page is ready");
});
</script>

{% comment %}
This is an example of inline javascript. Below I copied some function from
https://gitlab.gwdg.de/SOLVe/atlas-web/-/blob/master/templates/odf2.html#L142-189
{% endcomment %}
<script type="text/javascript" >
    function shows(ind) {
        if (ind == "1"){
            document.getElementById('showall').style.display = "block";
            document.getElementById('btnshow').style.display="none";
        }
        else{
            document.getElementById('btnshow').style.display = "block";
            document.getElementById('showall').style.display="none";
        }
    }
</script>

{# A more elegant way would be to implement javascript in its own file, then import it #}
<script type="text/javascript" src="{% static 'js/simulation_input_form.js' %}"></script>
{% endblock javascript %}
